@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'atypeDisplay';
  font-weight: 100;
  src: url('/font/atypeDisplay.ttf');
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'atypeDisplay' !important;
  
}
